@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Kanit:ital@1&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans'
}
body{
    background-color: rgba(15, 25, 71, 0.836);
}

.container{
    font-size: 16px;
    background-color: rgba(107, 120, 151, 0.918);
    width: 90vh;
    max-width: 34em;  
    position: absolute;
    transform: translate(70%,90%);
    padding: 3em;
    border-radius: 20px;
    box-shadow: 0 1.2em 2.4em rgba(21, 21, 31, 0.973);
}

#opciones-container div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em, 0 2.4em 0;
}

#opciones.container button:disabled{
    border:3px solid grey;
    color: grey;
    background-color: white;
}

#opciones.container button:active{
    background-color: rgb(220, 243, 15);
    border: 3px solid black;
    color: blue;
}

.letras-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}

.letras-container button{
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.nuevo-juego-popup{
    background-color: rgb(167, 86, 86);
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
}

#seccion-ingresar-usuario{
    display: flex;
    justify-content: center ;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
}

canvas{
    display: block;
    margin: auto;
    border: 10px solid #b1a7a7;
    border-radius: 10px;
}

.hide{
    display: none;
}

.resultado-texto h2{
    font-size: 1.8em;
    text-align: center;
}

.resultado-texto{
    font-size: 1.25em;
    margin: 1em 0 2em 0;
}
.resultado-textos span{
    font-weight: 600;
}
#nuevo-juego-boton{
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: rgb(170, 105, 21);
    color: white;
    border: 3px solid black;
    border-radius: 0.2em;
    cursor: pointer;
}

.win-msg{
    color: green;
}
.lose.msg{
    color: red;
}
